@use './function';

$default-ff: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Colors
$bluish-gray: #5f6368ff;

$item-hover: #ffffff1a;
$pen-bg: #00000099;
$pen-hover: #fffbff1a;
$page-bg: #202124;
$input-bg: #303134;
$icon-bg: #8ab4f8;
$silver: #bdc1c6;
$silver-blue: #aaadb2;
$steel-blue: #9aa0a6;

// Font-sizes
$fs-100: 12px;
$fs-200: 14px;
$fs-300: 20px;
$fs-400: 24px;
$fs-500: 28px;
$fs-600: 48px;

$h1-fs: $fs-600;

// Border
$default-border: 1px solid #3c4043;
