@use '../utils/variable' as *;
@use '../utils/mixin' as *;
@use '../utils/extend' as *;

header {
  padding: 10px;
  nav {
    .banner {
      color: white;
      font-size: 14px;
      height: 48px;
      @include flexbox(center, center, wrap, 1rem);

      &__links {
        gap: 10px;

        a:hover {
          text-decoration: underline;
        }
      }
      &__more {
        justify-content: flex-end;
        &__btn {
          button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            span {
              overflow: hidden;
              border-radius: 50%;
            }
            &:hover {
              background-color: $item-hover;
            }
          }
          &.settings button {
            padding: 0.5rem;
          }
        }
      }
    }
  }
  &#search-header {
    border-bottom: $default-border;
    .form-nav {
      height: 70px;
      &__left {
        @include flexbox(center, flex-start, nowrap, 2.8rem);
        // margin-left: 4rem;
        &__logo {
          width: 92px;
          height: 30px;
          background-color: white;
          mask-size: 100%;
          mask-repeat: no-repeat;
        }
        .search-bar {
          width: 692px;
          background-color: $input-bg;
          &:hover {
            box-shadow: 0 4px 12px rgba(23, 23, 23, 0.9);
          }
          &__input input {
            color: white;
          }

          &__other-icons {
            &__search {
              mask-size: 100%;
              mask-repeat: no-repeat;
              background-color: $icon-bg;
              mask-position: center;
            }
          }
        }
      }
    }
    .filter-nav {
      // padding: 0 0 16px 210px;
      &__basic {
        gap: 6px;
      }
      &__advanced {
        gap: 6px;

        li:first-child {
          position: relative;
          &::after {
            @include before_after('', 1px, 20px, #3c4043);
            @include position(absolute, $top: 50%, $right: -3px);
            transform: translateY(-50%);
          }
        }
      }
      .filter-btn--secondary {
        border: none;
        border-radius: 0.5rem;
        color: #9aa0a6;
        font-size: 14px;
        .filter-btn__icon {
          display: inherit;
        }
      }
    }
  }
}
