@use '../utils/variable' as *;
@use '../utils/mixin' as *;
@use '../utils/extend' as *;

header {
  padding: 10px;
  &#home-header {
    nav {
      .banner {
        color: white;
        font-size: 14px;
        height: 48px;
        @include flexbox(center, center, wrap, 1rem);

        &__links {
          gap: 10px;

          a:hover {
            text-decoration: underline;
          }
        }
        &__more {
          &__btn {
            button {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              span {
                overflow: hidden;
                border-radius: 50%;
              }
              &:hover {
                background-color: $item-hover;
              }
            }
          }
        }
      }
    }
  }
  &#search-header {
    .form-nav {
      height: 70px;
      &__left {
        @include flexbox(center, flex-start, wrap, 2.8rem);
        margin-left: 4rem;
        &__logo {
          width: 92px;
          height: 30px;
          background-color: white;
          mask-size: 100%;
          mask-repeat: no-repeat;
        }
        .search-bar {
          background-color: $input-bg;
          &:hover {
            box-shadow: 0 4px 12px rgba(23, 23, 23, 0.9);
          }
          &__input input {
            color: white;
          }

          &__other-icons {
            &__search {
              mask-size: 100%;
              mask-repeat: no-repeat;
              background-color: $icon-bg;
              mask-position: center;
            }
          }
        }
      }
    }
  }
}
